.details {
  padding: 60px 20px 160px;
  background-color: $color-bg;
  display: flex;
  flex-direction: column;
  text-align: left;

  @media screen and (max-width: 767px) {
    width: 100%;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: calc((100% - 30px) / 3);
    min-width: 260px;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 30px) / 3);
  }
}
